---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccountName }}
  namespace: {{ .Values.namespace }}
{{ if gt (.Values.workflow.guiOidcGroups | len) 0 }}
  annotations:
    workflows.argoproj.io/rbac-rule: "{{- range $index, $grp := .Values.workflow.guiOidcGroups }}{{ if gt $index 0}} or {{ end }}('{{$grp}}' in groups) {{- end }}"
    workflows.argoproj.io/rbac-rule-precedence: "1"
{{ end }}

# https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#manually-create-an-api-token-for-a-serviceaccount
{{ if gt (.Values.workflow.guiOidcGroups | len) 0 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.serviceAccountName }}.service-account-token
  annotations:
    kubernetes.io/service-account.name: {{ .Values.serviceAccountName }}
type: kubernetes.io/service-account-token
{{ end }}

