{{- if .Values.sparkOperator.enabled }}
---
apiVersion: kubocd.kubotal.io/v1alpha1
kind: Release
metadata:
  name: {{ .Values.projectId }}-spark-operator
  namespace: kubocd
spec:
  description: Spark operator deployment in {{ .Values.projectId }}
  protected: {{ .Values.protected }}
  package:
    repository: quay.io/kubosa/packages/spark-operator
    tag: 2.4.0-p01
    interval: 30m
  targetNamespace: {{ .Values.projectId }}-sys
  createNamespace: false
  parameters:
    jobNamespaces:
      - {{ .Values.projectId }}-user
    webhookEnabled: {{ .Values.sparkOperator.webhookEnabled }}
  dependencies:
    - spark-workspace-{{ .Values.projectId }}
 {{- end }}