

apiVersion: v1alpha1
name: ingress-nginx
tag: 4.12.1-p02
protected: true
schema:
  parameters:
    properties:
      deployInControlPlane: { type: boolean, default: false }
      deployInServicePlane: { type: boolean, default: false }
  context:
    properties:
      ingress:
        required: true
        properties:
          # At least, one of domain and vip must be defined. vip take precedence.
          # Vip is a workaround for the case domain does not resolve internally.
          domain: { type: string }
          vip: { type: string }
          kubernetes:
            properties:
              enabled: { type: boolean, default: false }
modules:
  - name: noname
    timeout: 4m
    source:
      helmRepository:
        url: https://kubernetes.github.io/ingress-nginx
        chart: ingress-nginx
        version: 4.12.1 # 4.10.0
    values: |
      controller:
        {{- if .Parameters.deployInControlPlane }}
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
        nodeSelector:
          node-role.kubernetes.io/control-plane: ""
        {{- end }}
        {{- if .Parameters.deployInServicePlane }}
        tolerations:
          - key: node-role.kubernetes.io
            operator: "Equal"
            effect: NoSchedule
            value: services
        nodeSelector:
          node-role.kubernetes.io: "services"
        {{- end }}
        image:
          image: ingress-nginx/controller
        service:
          annotations:
            metallb.universe.tf/loadBalancerIPs: {{ resolveDNS (.Context.ingress.vip | default .Context.ingress.domain) }}
            metallb.universe.tf/allow-shared-ip: "ingress"
        extraArgs:
          enable-ssl-passthrough: true
        image:
          {{ $redirection := imageRedirect "registry.k8s.io/ingress-nginx/controller" . }}
          image: {{ $redirection.baseRepository }}
          # image: ingress-nginx/controller
      global:
        image:
          {{ $redirection := imageRedirect "registry.k8s.io/ingress-nginx" . }}        
          registry: {{ $redirection.registry }}
          # registry: registry.k8s.io
      admissionWebhooks:
        patch:
          {{- if .Parameters.deployInControlPlane }}
          tolerations:
            - key: "node-role.kubernetes.io/control-plane"
              operator: "Exists"
              effect: "NoSchedule"
          nodeSelector:
            node-role.kubernetes.io/control-plane: ""
          {{- end }}
          {{- if .Parameters.deployInServicePlane }}
          tolerations:
            - key: node-role.kubernetes.io
              operator: "Equal"
              effect: NoSchedule
              value: services
          nodeSelector:
            node-role.kubernetes.io: "services"
          {{- end }}
          image:
             {{ $redirection := imageRedirect "registry.k8s.io/ingress-nginx/kube-webhook-certgen" . }}
            image: {{ $redirection.baseRepository }}
            # image: ingress-nginx/kube-webhook-certgen
      defaultBackend:
        {{- if .Parameters.deployInControlPlane }}
        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
        nodeSelector:
          node-role.kubernetes.io/control-plane: ""
        {{- end }}
        {{- if .Parameters.deployInServicePlane }}
        tolerations:
          - key: node-role.kubernetes.io
            operator: "Equal"
            effect: NoSchedule
            value: services
        nodeSelector:
          node-role.kubernetes.io: "services"
        {{- end }}
        image:
          {{ $redirection := imageRedirect "registry.k8s.io/defaultbackend-amd64" . }}
          image: {{ $redirection.baseRepository }}
          # image: defaultbackend-amd64
  - name: kubernetes
    enabled: "{{ dig \"ingress\" \"kubernetes\" \"enabled\" false .Context }}"
    source:
      local:
        path: ../charts/wrapper/1.0.0
    dependsOn:
    - noname
    values:
      body: |
        apiVersion: networking.k8s.io/v1
        kind: Ingress
        metadata:
          name: kubernetes
          namespace: default
          annotations:
            nginx.ingress.kubernetes.io/ssl-passthrough: "true"
        spec:
          rules:
            - host: kubernetes.{{ .Context.ingress.domain }}
              http:
                paths:
                  - path: /
                    pathType: Prefix
                    backend:
                      service:
                        name: kubernetes
                        port:
                          number: 443
          ingressClassName: nginx
dependencies:
  - loadBalancer
roles:
  - ingress